{% extends "lab_8/layout/base.html" %}
{% load static %}

{% block content %}
<div id="lab8" class='container'>
  <button onclick="facebookLogin()">Login with Facebook</button>
</div>


{% endblock %}
