.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 10px;
}

.movie_info {
  font-size: 12px;;
}

.rating_stars {
  width: 55px;
  margin: 0 0 0 35vw;
  text-align: center;
  align-content: center;
}
