{% extends "lab_9/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Session] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Role : {{ role }} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a>
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#drones" aria-controls="home" role="tab" data-toggle="tab"> Drones </a>
        </li>
        <li role="presentation">
            <a href="#soundcard" aria-controls="settings" role="tab" data-toggle="tab"> Soundcard </a>
        </li>
        <li role="presentation">
            <a href="#optical" aria-controls="settings" role="tab" data-toggle="tab"> Optical </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="drones">
            {% include 'lab_9/tables/drones.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="soundcard">
            {% include 'lab_9/tables/soundcards.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="optical">
            {% include 'lab_9/tables/opticals.html' %}
        </div>
    </div>
</div>

<script>
  var add_session_item = function(id, category) {
    $.ajax({
      method: "POST",
      url: '{% url "lab-9:add_session_item" %}',
      data: {
        id: id,
        category: category
      },
      success: function(response){
        console.log(response.id);
        console.log('success');
        var html = "<a id='button_" + response.id + "' onClick='del_session_item" + '("' + response.id + '","' + response.category + '")' + "'" + "class='btn btn-primary'"+ " > Hapus dari favorit </a>";
        $(`#button_${response.id}`).replaceWith(html);
      },
      error: function(error) {
        console.log('fail');
        alert(error.responseText)
      }
    })
  };

  var del_session_item = function(id, category) {
    $.ajax({
      method: "POST",
      url: '{% url "lab-9:del_session_item" %}',
      data: {
        id: id,
        category: category
      },
      success: function(response){
        var html = "<a id='button_" + response.id + "' onClick='add_session_item" + '("' + response.id + '","' + response.category + '")' + "'" + "class='btn btn-danger'"+ " > Tambah ke favorit </a>";
        $(`#button_${response.id}`).replaceWith(html);
      },
      error: function(error) {
        alert(error.responseText)
      }
    })
  };

</script>

{% endblock %}
