<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar drones : {{ drones | length}} </h2>
        <a href="{% url 'lab-9:clear_session_item' 'drone'%}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorite drones
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No</th>
            <th> Nama</th>
            <th> Harga</th>
            <th> Jumlah</th>
            <th> Aksi </th>

            </thead>
            <tbody>
            {% for drone in drones %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ drone.name }}</td>
                <td> {{ drone.price }}</td>
                <td> {{ drone.quantity }}</td>
                <td>
                    {% if not drone.id in fav_drones %}
                    <a id='button_{{ drone.id }}' onClick="add_session_item('{{ drone.id }}','{{ drone.category_description }}')" class="btn btn-primary"> Tambah ke favorit </a>
                    {% else %}
                    <a id='button_{{ drone.id }}' onClick="del_session_item('{{ drone.id }}','{{ drone.category_description }}')" class="btn btn-danger"> Hapus dari favorit </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
