body {
    background-color: #ADC6C7;
}

.profile .data{
    position: absolute;
    margin: auto;
    min-width: 50%;
    top: 10%;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(121,174,200,0.5);

}

.profile .cover {
  width: 100%;
}

html {
    padding: 0;
    margin: 0;
}

.profile {
    background-size: cover;
    background-repeat: no-repeat;
}

.profile .picture{
    display: block;
    margin: auto;

}

.profile * {
    text-align: center;
    font-size: 125%
}

#postInput {
    width: 100%;
}

.buttons {
    text-align: center;
}

.login-button * {
    text-align: center;
    margin: 32vh auto;
    height: 20vh;
    width: 100%;
    font-size:300%;
}

#feeds {
    margin: 15px auto;
}

#feeds * {
    text-align: center;
    font-size: 125%;
}

#feeds button {
    font-size: 100%;
}

#feeds .feed {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 2px;
}

footer {
    font-size: 12px;
    text-align: center;
    margin: 0;
}


.content {
    margin-top: 50px;
    margin-bottom: 50px;
}
